.bicicletas-bg {
  background: linear-gradient(to right, var(--cor0) 30%, var(--cor11) 0%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2em;
  padding-bottom: 3em;
}

.bicicleta-img {
  display: grid;
}

.bicicleta-img img {
  grid-area: 1/1;
}

.bicicleta-img span {
  grid-area: 1/1;
  place-self: start end;
  display: inline-block;
  background: var(--cor12);
  padding: 8px 16px 8px 16px;
  margin-top: 20px;
  border-radius: 5px 0 0 5px;
}

.bicicleta-atributos {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bicicleta-atributos li {
  display: flex;
  gap: 0.6em;
  align-items: center;
}

.bicicleta-atributos li + li {
  margin-top: 10px;
}

.bicicleta-atributos img {
  max-width: 100%;
}

.bicicleta-atributos a {
  margin-top: 2em;
  place-self: end;
}

.bicicletas-texto {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 2em;
  padding-left: 1em;
  align-items: start;
}

.bicicletas-texto h3,
.bicicletas-texto p {
  grid-column: 1/-1;
}

.bicicletas h3::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--cor11);
  }

  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicletas-texto {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .bicicletas-texto > p {
    grid-column: 1;
    padding-right: 1em;
    margin-top: 2em;
  }

  .bicicleta-atributos {
    grid-template-columns: 1fr;
  }

  .bicicleta-atributos ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .bicicleta-atributos a {
    margin-top: 2em;
    place-self: start;
  }
}
@media (max-width: 480px) {
  .bicicletas-texto {
    grid-template-columns: 1fr;
  }
}
