.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagens img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: 32px;
}

.bicicleta-compre {
  display: grid;
  grid-template-columns: max-content auto;
  justify-items: start;
  align-items: center;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicicleta-compre a {
  grid-row: span 2;
}

.bicicleta-compre span {
  display: flex;
  align-items: center;
  background-color: var(--cor12);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 5px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
  margin-top: 24px;
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 32px;
  background-color: var(--cor12);
  border-radius: 4px;
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  gap: 20px;
}

.bicicleta-informacoes img {
  width: 24px;
  margin-bottom: 8px;
}

.bicicleta-ficha li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor11);
}

.bicicleta-ficha li > span {
  color: var(--cor9);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicleta-imagens {
    grid-row: 2;
  }

  .bicicleta-compre {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .bicicleta-imagens img:first-child {
    min-width: 100%;
  }

  .bicicleta-imagens img {
    flex-grow: 1;
    min-width: 200px;
  }
}
